__pycache__/
*.pyc
*.pyo
.Python

# Ignore environment and editor files
.env
.vscode/
*.ipynb

# Ignore logs but keep logs directory
*.log

# Git
.git/
.gitignore

# Docker ignore itself
.dockerignore
